@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid gray;
}

.contenedor-header header {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1cb698;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: color .5s;
    font-size: 15px;
    position: relative;
}

.contenedor-header header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1cb698;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}

.contenedor-header header nav ul li a:hover::after,
.contenedor-header header nav ul li a.active::after {
    width: 100%;
}

.nav-responsive {
    background-color: #1cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



/* SECCCION I N I C I O */




.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .4), rgba(30, 35, 38, 1)), url(/assets/imgs/img/laptop3horizontal.avif);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: 68px auto 0px;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #1cb698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #1cb698;
}




/*   Seccion Sobre Mi  */



.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1024px;
    margin: auto;
}

.contenido-seccion h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contenido-seccion p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.contenido-seccion p span {
    color: #1cb698;
    font-weight: bold;
}


.fila {
    display: flex;
    justify-content: space-around
}

.col {
    display: flex;
    flex-direction: column;
}


.fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}


.fila .col ul {
    list-style: none;
}

.fila .col ul li {
    margin: 20px 0;
}

.fila .col ul li strong {
    display: inline-block;
    color: #1cb698;
    width: 130px;
}

.fila .col ul li span {
    background-color: #1cb698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.col .titulo--intereses {
    text-align: center;
}
.fila .col .contenedor-intereses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.fila .col .contenedor-intereses .interes {
    width: 80px;
    height: 80px;
    background-color: rgb(96, 94, 94);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.fila .col .contenedor-intereses .interes:hover {
    background-color: #1cb698;
}

.fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.descarga {
    text-decoration: none;
    justify-content: center;
}

.boton-descarga {
    border-radius: 10px;
    overflow: hidden;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}




/* SECCION HABILIDADES */


.skills {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}



.habilidades__title {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    line-height: 1.15;
    margin-top: 20px;
}

/* .title__mis {
    /* font-family: var(--title-font); */
/* color: var(--primary-color); 
} */

/* .title__habilidades {
    /* font-family: var(--title-font);
    color: var(--alt-color); 
} */

.habilidades__contenido {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    font-family: 'Righteous';
    text-align: center;
    font-size: 17px;
    line-height: 26px;
}

.habilidades__contenido span {
    padding-right: 20px;
}

.habilidades__contenido .span__grande {
    font-weight: bold;
    font-size: 1.40rem;
}

.habilidades__contenido .span__pequeño {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    /* text-align: justify;  */
    margin: 0 auto;
}

.habilidades__img {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-around;
    align-content: space-around;
    gap: 20px;
    padding-left: 19px;
    padding-top: 30px;
    padding-bottom: 20px;
}


.card {
    width: 70px;
    font-size: .7rem;
    text-align: center;
}

.img__card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(96, 94, 94);
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.habilidades__img .link {
    width: 40px;
    height: 45px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.habilidades__img .img__card:hover {
    background-color: #1cb698;
}

.card__title {
    font-weight: bold;
}

.card__txtu {
    font-size: .6rem;
}

.card span {
    margin: 0 auto;
}







/*SECCION CURRICULUM*/





.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    overflow-x: hidden;

}

.curriculum .contenido-seccion {
    max-width: 1024px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-align: center;
}

.curriculum .fila .izquierda {
    border-right: 3px solid #252a2e;
}

.curriculum .fila .derecha {
    border-left: 3px solid #252a2e;
}

.curriculum .fila .der {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position: relative;
}

.curriculum .fila .item img {
    border-radius: 100%;
    border: 3px solid #1cb698;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #1cb698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #1cb698;
    margin-bottom: 10px;
    margin-top: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    display: flex;
    border-right: 3px solid #1cb698;
    margin-right: 20px;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.curriculum .fila .der {
    display: flex;
    border-left: 3px solid #1cb698;
    margin-left: 20px;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #1cb698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1cb698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #1cb698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}


.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1cb698;
    float: left;
    position: relative;
    bottom: 4px;
}

.item img {
    width: 100px;
    height: auto;
}





/* SECCION PROYECTOS */


swiper-container {
    width: 320px;
    height: 450px;
  }
 
  swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    background-color: #3f474c;
    border: 2px solid rgb(157, 157, 157);
  }
 
  /* swiper-slide:nth-child(1n) {
  }
 
  swiper-slide:nth-child(2n) {
  }
 
  swiper-slide:nth-child(3n) {
  }
 
  swiper-slide:nth-child(4n) {
  }
 
  swiper-slide:nth-child(5n) { }
 
  swiper-slide:nth-child(6n) {
  }
 
  swiper-slide:nth-child(7n) {
  }
 
  swiper-slide:nth-child(8n) {
  }
 
  swiper-slide:nth-child(9n) {
  }
 
  swiper-slide:nth-child(10n) {
  } */

.slides{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    overflow-x: hidden;
 }

.slides .contenido-seccion .galeria .contenedor__proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 290px;
}

.slides {
    background-color: #1e2326;;
    color: #fff;
    padding: 50px 20px;
}


.slides .proyecto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.slides .contenido-seccion .galeria .contenedor__proyecto  .proyecto .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px
}

.slides .contenido-seccion .galeria .contenedor__proyecto  .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.slides .contenido-seccion .galeria .contenedor__proyecto .proyecto img {
    width: 250px;
    height: 230px;
    display: block;
    border-radius: 100%;
    border: 2px solid rgb(169, 169, 169);

}

.slides .contenido-seccion .galeria .contenedor__proyecto .proyecto  .img-proyecto {
    aspect-ratio: 1/1;
}

.slides .contenido-seccion .galeria .contenedor__proyecto  .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 181, 152, .8), rgba(25, 282, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
    border-radius: 50%;
}

.slides .contenido-seccion .galeria .contenedor__proyecto  .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.slides .contenido-seccion .galeria .contenedor__proyecto  .proyecto .overlay:hover {
    opacity: 1;
}

.slides .contenido-seccion .galeria .contenedor__proyecto  .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

.slides .contenido-seccion .galeria .contenedor__proyecto .proyecto .proyecto__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slides .contenido-seccion .galeria .contenedor__proyecto .proyecto .proyecto__redirection {
    font-size: 20px;
}


.slides .contenido-seccion .galeria .contenedor__proyecto .proyecto .proyecto__redirection a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}


.slides .contenido-seccion .galeria .contenedor__proyecto .proyecto .proyecto__redirection a:hover {
    color: #007BFF;
    transform: translateY(-5px);
}


.slides .contenido-seccion .galeria .contenedor__proyecto .proyecto .proyecto__redirection i {
    font-size: 24px;
    vertical-align: middle;
}


.slides .contenido-seccion .galeria .mySwiper .contenedor__proyecto .proyecto__tecnologias{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}




.slides .proyecto__tecnologias span {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.slides .proyecto__tecnologias span:hover {
    transform: translateY(-2px);
    background-color: rgba(255, 255, 255, 0.2);
}

.slides .proyecto__tecnologias i {
    margin-right: 5px;
}


.slides .proyecto__redirection,
.proyecto__tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


.slides .proyecto__tecnologias span {
    margin: 0 5px;
}

.slides .proyecto__redirection a {
    margin: 0 10px;
}

.slides .contenido-seccion .galeria .mySwiper .contenedor__proyecto .vite .vitesito{
    width: 12px;
    height: 12px;
}

.slides .fa-square-js {
    color: #FFCA28;
}

.slides .fa-css3-alt {
    color: #3F8AC8;
}

.slides .fa-html5 {
    color: #E44D26
}

.slides .fa-react {
    color: #59C4E2
}

.slides .fa-arrow-up-right-from-square {
    color: #1CB698
}

.slides .fa-github {
    color: #E6EDF3
}

.slides .fa-linkedin-in {
    color: #0B68C6
}

.slides .fa-earth-americas {
    color: #2ecc71;

}



/*  SECCION CONTACTO */




.contacto {
    background-image: url(/assets/imgs/img/cafe.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1024px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
    height: 380px;
    border-radius: 5px;
}

.contacto .col .info {
    position: absolute;
    top: 30%;
    background-color: #252a2e;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #1cb698;
    display: inline-block;
    margin-right: 5px;
}

.btn-enviar {
    border-radius: 10px;
    overflow: hidden;
}



/* FOOTER */


footer {
    background-color: #252a2e;
    color: #fff;
    padding: 5px 50px;
    text-align: center;
    position: relative;
    width: 100%;
    align-items: center;
}

footer .redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

footer .footer__left,
footer .footer__mid,
footer .footer__right {
    flex: 1;
    display: flex;
    justify-content: center;
}

footer .footer__left {
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

footer .footer__mid {
    justify-content: center;
}

footer .footer__right {
    justify-content: flex-end;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: #1cb698;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0f705d;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    /* transform 0.3s ease; */
}

footer .arriba:hover {
    background-color: #1cb698;
    color: #fff;
    /* transform: scale(1.1); */
}

footer .mapa {
    width: 50px;
    height: 50px;
}

.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Por encima del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* Centrar verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ancho del modal */
    max-width: 500px;
    /* Ancho máximo */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* Sombra */
    border-radius: 10px;
    /* Bordes redondeados */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}



/* RESPONSIVE */


@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
        cursor: pointer;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
        padding: 15px 5px;
    }

    .nav-responsive i {
        font-size: 1.5em;
        color: white;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px;
    }

    nav.responsive ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .item.der {

        h4,
        .casa,
        .fecha {
            display: none;
        }
    }
}

@media screen and (max-width:700px) {
    .contenido-seccion p {
        width: 100%;
        max-width: none;
    }

    .skills {
        background-color: #1e2326;
        color: #fff;
        padding: 50px 20px;
    }

    .skills .contenido-seccion {
        max-width: 1024px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .habilidades__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        line-height: 1.15;
        margin-top: 20px;
    }


    .habilidades__contenido {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* color: var(--alt-color); */
        padding-left: 40px;
        font-family: 'Righteous';
        text-align: center;
    }

    .habilidades__contenido span {
        padding-right: 20px;
    }

    .habilidades__contenido .span__grande {
        font-weight: bold;
        font-size: 1.40rem;
    }

    .habilidades__img {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        align-content: space-around;
        gap: 20px;
        padding-left: 19px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .proyectos .galeria {
        margin: auto;
    }

    .proyectos .galeria .proyecto {
        max-width: 100%;
    }

    .proyectos .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila .col {
        width: 100%;
    }

    footer {
        padding: 20px 20px;
        /* Ajustar el relleno para dispositivos pequeños */
    }

    footer .redes {
        flex-direction: column;
        /* Cambiar la dirección de la disposición a columna */
        gap: 10px;
        /* Espacio entre los elementos */
    }

    footer .footer__mid {
        margin-top: 10px;
        /* Espacio entre la sección de redes sociales y el texto de derechos de autor */
    }

    footer .footer__right {
        margin-top: 10px;
        /* Espacio entre la sección de redes sociales y el texto de derechos de autor */
    }

    footer .redes a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin: 5px;
    }

    footer .arriba {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        top: -20px;
    }

    footer .mapa {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 460px) {
    .inicio {
        min-height: 110vh;
    }

    .inicio .contenido-banner {
        padding: 20px 20px;
    }

    .sobremi {
        padding: 20px 20px;
    }

    .skills {
        padding: 10px 10px;
    }


    .contenedor-intereses {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center !important;
    }

    .contacto .fila {
        flex-direction: column;
    }

    .contacto .col .info {
        top: 50%;
    }

    .sobremi .fila {
        flex-direction: column;
        gap: 30px
    }

    .sobremi .fila .col .titulo--datos {
        text-align: center;
    }

    .curriculum {
        padding: 10px 10px;
    }

    .slides .proyectos {
        padding: 10px 10px;
    }

    .contacto {
        padding: 20px 10px;
    }

    .slides .contenido-seccion .galeria .contenedor__proyecto{
        justify-content: center;
    }

    .slides .contenido-seccion .galeria .mySwiper .contenedor__proyecto .img-proyecto{
        height: 150px;
        width: 150px; 
    }

    .slides .contenido-seccion .galeria .mySwiper .contenedor__proyecto .proyecto__tecnologias{
        flex-wrap: wrap;
        gap: 10px;
    }

    swiper-container {
        width: 225px;
        height: 360px;
      }

      .mySwiper{
        margin: auto;
      }

}

@media screen and (max-width: 320px) {

    .contenedor-intereses {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center !important;
    }


    .col .titulo--intereses {
        justify-content: center;
        margin: auto;
    }

    .sobremi .col {
        width: 100%;
    }

    .sobremi h3 {
        text-align: center;
    }

    .sobremi .fila .col ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .sobremi .fila .col ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobremi .freelance {
        display: flex;
        justify-content: center;
    }

    .sobremi .fila {
        display: flex;
        flex-direction: column;
    }



    /* Ajustes para el menú */
    .contenedor-header header {
        padding: 10px;
    }

    .contenedor-header header .logo a {
        font-size: 24px;
    }

    .contenedor-header header nav ul li a {
        margin: 0 8px;
    }

    .nav-responsive {
        display: block;
    }

    /* Ajustes para la sección Inicio */
    .inicio .contenido-banner {
        max-width: 250px;
        margin-top: 50px;
    }

    .inicio .contenido-banner img {
        margin-top: 30px;
    }

    .inicio .contenido-banner h1 {
        font-size: 32px;
    }

    .inicio .contenido-banner h2 {
        font-size: 13px;
    }

    /* Ajustes para la sección Sobre Mí */
    .contenido-seccion p {
        font-size: 16px;
    }


    /* Ajustes para la sección Habilidades */
    .habilidades__contenido {
        width: 100%;
        padding-left: 0;
        text-align: center;
        font-size: 14px;
    }

    .habilidades__img {
        width: 100%;
        padding-left: 0;
        justify-content: center;
    }

    /* Ajustes para la sección Curriculum */

    .curriculum .fila .col {
        width: 100%;
        padding: 0;
    }

    .curriculum .fila .item img {
        width: 80px;
    }

    /* Ajustes para la sección Proyectos */


    .slides .titulo--proyect {
        margin-bottom: 50px;
    } 

    .slides .contenido-seccion {
        padding: 20px 10px;
    }

    .slides .contenedor__proyecto {
        width: 80%;
    }


    .slides .proyecto__tecnologias {
        gap: 10px;
    }

    .slides h2 {
        font-size: 36px;
        padding: 10px 0;
    }

    .slides .galeria .proyecto {
        max-width: 280px;
        margin: 5px;
    }

    .slides .galeria .proyecto img {
        width: 100%;
        height: auto;
    }

    .slides .galeria .proyecto .overlay {
        font-size: 14px;
    }

    .slides .galeria .proyecto .overlay h3 {
        margin-bottom: 10px;
    }

    .slides .contenedor__proyecto .proyecto__tecnologias {
        display: flex;
        flex-wrap: wrap;
    }

  


    /* Ajustes para la sección Contacto */
    .contacto {
        padding: 30px 10px;
    }

    .contacto .contenido-seccion {
        padding: 0;
    }

    .contacto .col {
        width: 100%;
        padding: 0 10px;
    }

    .con2 {
        display: none;
    }

    .contacto .col input,
    .contacto .col textarea {
        padding: 14px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .contacto .col .info {
        display: none
    }

    .contacto .col .mapa {
        display: none;
    }

    .contacto .col .info ul li {
        margin-bottom: 15px;
    }

    .contacto button {
        padding: 8px 18px;
        font-size: 14px;
    }

    /* Ajustes para el Footer */
    footer .redes a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin: 20px 3px;
        font-size: 18px;
    }

    footer .arriba {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
}